.meal-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  gap: 0.5rem;
  font-size: 1.1rem;
}

.meal-form form label {
  margin-right: 1rem;
  font-weight: bold;
}

.meal-form form input {
  width: 3rem;
  padding: 0.2rem 0.4rem;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  font-size: inherit;
}

.error {
  margin-right: 1rem;
  display: inline;
  color: rgb(158, 15, 15);
}

.meal-form form button[type="submit"] {
  background-color: rgb(227, 91, 33);
  font-weight: bold;
  font-size: inherit;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  border: none;
}

.meal-form form button[type="submit"]:hover,
.meal-form form button[type="submit"]:active {
  cursor: pointer;
  background-color: rgb(184, 75, 28);
}
