.header__button {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50px;
  display: flex;
  color: inherit;
  padding: 0.8rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  border: none;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.header__button:hover {
  cursor: pointer;
}

.icon {
  height: 1.4rem;
  width: 1.4rem;
}

.badge {
  background-color: rgb(227, 91, 33);
  font-weight: bold;
  padding: 0.2rem 1rem;
  border-radius: 50px;
}
